@{
	ViewBag.Title = "Fogotten Password / Can't Log In / Facebook";
}

<p class="fs-4 text-center mt-5">
	I forgot my password and tried to change it to 'invisible', but it <br />
	looks like my memory's already taken that one!
</p>
<img class="image-center" src="~/images/Under Construction.jpg" />

