@{
	ViewBag.Title = "Log in to Facebook";
}

<div class="container text-center">
	<div class="im-h mt-3">
		<img class="img-con" src="/images/FaceBack.png" alt="Faceback" width="240" height="84" />
	</div>
	<div align="center">
		<form class="frm bg-light rounded-2 shadow" method="post">
			<p class="text-center">Log in to Faceback</p>
			<div class=" div-f m-3">
				<input class="form-control" placeholder="Email address or phone number" />
			</div>
			<div class="div-f m-3">
				<input class="form-control" placeholder="Password" />
			</div>
			<div class="m-3">
				<button asp-controller="Account" asp-action="Login" class="b-log rounded-2">Log in</button>
			</div>

			<a asp-controller="Account" asp-action="ForgotPassword" class="mb-3 text-decoration-none">Forgotten password?</a>

		</form>
	</div>
</div>

